.video-container {
    height: fit-content;
    display: flex;
    align-items: end;
    margin: auto;

}

#face-recognition-video-cam {
    border-radius: 50%;
    object-fit: cover;
    transform: scaleX(-1);
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(-1);

}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;

}