.video-call-container {
    width: 100vw;
    height: 100vh;
}

.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.inner-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 90vh;
    width: 50vw;
    z-index: 1000;
    overflow-y: hidden;
}