.video-container {
    position: relative;
    width: 550px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.video-container video {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    transform: scaleX(-1);
    margin: 50px;


}

.video-container canvas {
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(-1);

}

.video-container .circular-progressbar-container {
    position: absolute;
    width: 600px;
    height: 600px;
}